<div id="gallery">
  <div id="help">
    <h2>help</h2>
    <dl>
      <dt>top :</dt>
      <dd>show images on gallery mode.</dd>
      <dt>download :</dt>
      <dd>show image on download mode.</dd>
      <dt>upload :</dt>
      <dd>image upload form.</dd>
      <dt>help :</dt>
      <dd>this help.</dd>
    </dl>
    <p><%= image_tag 'download.png', :width => 20, :height => 20 %> icon's copyright : <%= link_to 'www.MouseRunner.com', :url => 'www.MouseRunner.com' %></p>
  </div>
</div>
