<div id="gallery">
  <div id="help">
    <h2>help</h2>
    <dl>
      <dt>top :</dt>
      <dd>show images on gallery mode.</dd>
      <dt>download :</dt>
      <dd>show image on download mode.</dd>
      <dt>upload :</dt>
      <dd>image upload form.</dd>
      <dt>help :</dt>
      <dd>this help.</dd>
    </dl>
  </div>
</div>
