html {
  margin-top: 0;
  padding-top: 0;
}
body {
  padding: 0;
  margin: 0;
  font-size: 17px;
  font-family: Times;
}

a {
  color: #b7282e;
}
a:hover {
  text-decoration: none;
}

input {
  border: 1px solid #aaa;
}

img {
  vertical-align: middle;
}

#header {
  margin-top: 0;
  padding-top: 0;
  color: #fff;
  width: 100%;
  height: 70px;
  background-color: #b7282e;
}
#header h1 {
  width: 810px;
  height: 25px;
  padding: 0;
  margin: 0 auto;
  padding-top: 30px;
  font-size: 25px;
  letter-spacing: 1px;
}
#menu {
  padding: 0;
  margin: 0;
  background-color: #b7282e;
}
#menu a {
  color: #b7282e;
  text-decoration: none;
}
#menu p {
  padding: 0;
  margin: 0 auto;
  font-size: 18px;
  width: 810px;
  color: #fff;
}
#menu p span {
  padding: 0 15px;
  padding-top: 2px;
  background-color: #fff;
}
#menu p span:hover {
  background-color: #b7282e;
}
#menu p span:hover a {
  color: #fff;
}
#menu p span.sub_menu {
  display: inline;
  font-size: 15px;
  padding: 0 5px;
  background-color: #b7282e;
}
#menu p span.sub_menu a {
  color: #fff;
}
#menu p span.sub_menu a:hover {
  color: #fdd;
}

#main {
  width: 100%;
  text-align: center;
}

#gallery {
  width: 810px;
  margin: 20px auto 25px auto;
}
#gallery table {
  margin: 0 auto;
  border: 1px solid #b7282e;
  border-spacing: 25px;
}
#gallery td {
  width: 120px;
  height: 120px;
}
#gallery .images {
  padding: 5px;
  margin: 0;
  border: 1px solid #aaa;
}
#gallery .noimage {
  width: 120px;
  height: 120px;
  padding: 5px;
  color: #fc7d7f;
}
#gallery td span.image_menu {
  display: block;
  padding-top: 3px;
  font-size: 16px;
  text-align: right;
}
#gallery td span.image_menu a {
  text-decoration: none;
}


#uploader {
  padding: 50px;
  border: 1px solid #aaa;
}

#login_form {
  padding: 50px;
  border: 1px solid #b7282e;
}

#pagenate {
  margin-top: 10px;
}

#footer {
  padding: 0;
  margin: 0;
  background-color: #b7282e;
  text-align: right;
  color: #fff;
  font-size: 15px;
  width: 100%;
  height: 50px;
}
#footer a {
  color: #fff;
}
#footer p {
  width: 810px;
  margin: 0 auto;
  padding: 0;
  padding-top: 8px;
}

#notice {
  color: green;
  font-size: 15px;
}
#notice.error {
  color: #b7282e;
}
#error {
  width: 810px;
  margin: 10px auto;
  padding: 10px 0;
  font-size: 18px;
  font-weight: bolder;
  letter-spacing: 1px;
  color: #b7282e;
  border: 3px dashed #e6b422;
}

#errorExplanation {
  font-size: 14px;
  border: 1px solid #b7282e;
}
#errorExplanation h2 {
  font-size: 15px;
  color: #b7282e;
}
#errorExplanation li {
  color: #b7282e;
}

.clear {
  clear: both;
}
